disco
{
    background-color: #212733;
    font-family: monospace;
    margin-left: 0.7%;
    margin-top: 1%;
}
parteSuperior
{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}
foto
{
    background-image: url("caratula.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10%;
    box-shadow: 6px 6px 8px black;
}

grupoElemento
{
    margin-left: 2%;
}
grupoDato
{
    margin-left: 5px;
}

elemento
{
    color: gray;
    text-align: right;
    display: flex;
    flex-direction: column;
}
dato
{
    color: white;
    display: flex;
    flex-direction: column;
}
dato:first-of-type
{
    color: orange;
}
dato:nth-child(3)
{
    font-weight: bold;
}

cd1
{
    color: gray;
}
cancion
{
    display: flex;
    flex-direction: row;
}
cancion:nth-child(even)
{
    background-color: #11161D;
}
numero
{
    color: white;
    font-weight: bold;
    margin-right: 0.7%;
}

titulo
{
    color: white;
    margin-right: 0.3%;
}
duracion
{
    color: gray;
}